body{

    background-color: dimgray;
}
.presentacionU{


    background-image: url('../img/fondo1.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
}
#imguser{


    border: 4px solid black;
}